body {
    text-align: center;
    margin:0px;
}

/****************/
/* Landing page */
/****************/
h1 {
    color: white;
    font-size: 25pt;
}

a.enter {
    color: white;
    text-shadow: 0px 0px 0px transparent;
    transition: text-shadow 0.75s ease-in-out;
}

/* unvisited link */
a.enter:link {
    text-decoration: none;
}

/* visited link */
a.enter:visited {
    text-decoration: none;
}

/* mouse over link */
a.enter:hover {
    text-decoration: none;
    text-shadow: 0px 0px 35px gold;
}

/* selected link */
a.enter:active {
    text-decoration: none;
}

.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("img/clouds.jpg");
    background-size: cover;
    font-family: cursive;
}

/****************/
/* Content pages */
/****************/

table {
    width: 100%;
    table-layout: fixed;
    padding: 10px;
}
th {
    background-color: seashell;
}
td {
    background-color: seashell;
}

th:first-of-type {
  border-top-left-radius: 10px;
}
th:last-of-type {
  border-top-right-radius: 10px;
}
tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 10px;
}
tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 10px;
}

a {
    color: #444;
}

p {
    color: #444;
    margin: 8px 0px;
}

.nav {
    padding: 10px 0px;
}

.main {
    background-color: #356;
    color: white;
    max-width: 1000px;
    margin: auto;
}

.content {
    padding: 10px 20px;
    min-width: 100px;
    display: flex;
    flex-direction: column;
}

.contentwrap {
    padding: 10px 20px;
    min-width: 100px;
}

.photo {
    max-height: 400px;
    object-fit: contain;
    margin: 8px 0px;
    padding: 8px 20px 0px 20px;
}

.photowrap {
    max-height: 400px;
    float: right;
    object-fit: contain;
    margin: 8px 0px;
    padding: 8px 20px 0px 20px;
}

@media (max-width: 1100px) {
    .contentwrap {
        display: inline;
    }
}

@media (max-width: 500px) {
    .contentwrap {
        display: flex;
        flex-direction: column;
    }
}